<nav class="pagination" role="navigation">

  {{#if pagination.prev}}<div class="pagination-left"><a class="prev" href="/page/{{pagination.prev}}">&larr; Newer Posts</a></div>{{/if}}
  {{#if pagination.next}}<div class="pagination-right"><a class="next" href="/page/{{pagination.next}}">Older Posts &rarr;</a></div>{{/if}}

</nav>
