@import url(https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans+Condensed:300|Oswald:700|Roboto:400,700&subset=latin,greek,greek-ext,latin-ext,cyrillic-ext,cyrillic);

body {
	padding: 0px !important;
	font-family: 'Roboto', sans-serif !important;
}

div#notebook {
	padding: 0px !important;
}

div#notebook-container {
	box-shadow: none !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', 'Roboto', sans-serif;
	letter-spacing: normal !important;
	line-height: normal !important;
	font-weight: 700;
}

.text_cell > .prompt {
	min-width: 0 !important;
	padding: 0 !important;
}

@media only screen and (max-width: 540px) {
	div.inner_cell {
		flex: none !important;
		max-width: 100% !important;
	}


	div.output_subarea {
		flex: none !important;
		min-width: 100% !important;
	}
}
